*{
    margin: 0px; 
    padding: 0px; 
    line-height: 1; 
}

body{
    background-image: url(images/background-parchment.jpg); 
}

.only{
    padding: 10px;
    margin: 50%;
    position: relative; 
    height: 250px; 
    width: 50%; 
}

.only2{
    font-family: 'MedievalSharp', cursive;
}

.only3{
    font-family: 'MedievalSharp', cursive;
}